doctype html
html(lang="en")
  head
    title D3 Viz of Seed-DB
    link(rel="stylesheet", href="/static/main.css")
    script(type="text/javascript", src="/static/_bower.js")
    script(type="text/javascript", src="/static/main.js")
  body
    h1 This is a Jade Template

